<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pic.optimize"
          xmlns:tools="http://schemas.android.com/tools"
         >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>


    <!-- getui start -->
    <uses-permission android:name="getui.permission.GetuiService.com.babytree.apps.pregnancy" />
    <!-- 点击计步器通知栏的设置进去settings时候要把系统通知栏收起 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <!-- 协处理器计步权限 -->
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true"/>


    <application
        tools:replace="allowBackup,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".fresco.PicApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TestListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainTest"/>
        <activity android:name="com.example.textviewwithurl.NewsActivity"/>
        <activity android:name=".helper.PaperHelpActivity"/>
        <activity android:name=".PicTest"/>
        <activity android:name=".picwall.PicWallActivity"/>
        <activity android:name=".NewsSwitchActivity"/>
        <activity android:name=".SnapToScreenActivity"/>
        <activity android:name=".ParseJsonTest"/>
        <activity android:name=".OppositeDrawActivity"/>
        <activity android:name=".DialogTest"/>
        <activity android:name=".InputFaceActivity"
                  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".LicenseActivity"/>
        <activity android:name=".UploadPhotoActivity"/>
        <activity android:name="com.example.shoplistdownload.TabActivityWithAnimation"/>
        <activity android:name=".database.DatabaseTestActivity"/>
        <activity android:name="com.example.shoplistdownload.TestDropdownHideActivity"/>
        <activity android:name="com.example.shoplistdownload.ContactsList"/>

        <activity android:name="com.example.shoplistdownload.ContactDetail"/>
        <activity android:name=".ExpandListItemActivity"/>
        <activity android:name=".TestHttpActivity"/>
        <activity android:name=".BookDetail"/>
        <activity android:name=".DragIconActivity"/>
        <activity android:name=".recycleview.TestRecycleViewActivity"/>

        <activity android:name=".satelite.SateActivity"/>

        <activity android:name=".menu.MenuActivity"/>

        <activity
            android:name=".export.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/tiff" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/x-pcx" />
                <data android:mimeType="image/targa" />
                <data android:mimeType="image/x-photoshop" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pdf"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.jpg"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.bmp"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.png"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.txt"
                    android:scheme="file" />

            </intent-filter>
        </activity>
        <activity android:name=".tutorail.TutorailActivity"/>
        <activity android:name=".rotatemenu.RoateMenuActivity"/>

        <provider
            android:name=".database.MyProvider"
            android:authorities="com.pic.optimize.provider.myprovider"
            android:exported="false" />
    </application>

</manifest>